.card-panels
  .row
    .col-12
      %fieldset
        %legend= t("parts.budgets.new")
        
        .budget-form-intro
          %p= t("parts.budgets.new_budget_intro")
          %p.text-muted= t("parts.budgets.new_budget_tips")
        
        = render 'form', budget: @budget
