.row
  .col-md-12
    .col-md-2
      %fieldset
        %legend= t("parts.categories.income")
        %div
          = column_chart income_chart_data, colors: %w(green)
    .col-md-10
      %fieldset
        %legend= t("parts.categories.spending")
        %div
          = column_chart spending_chart_data, colors: %w(red)
