.graph-menu
  = link_to t(:general_stats), statistics_path
  &bull;
  = link_to t(:line_graph), chart_statistics_path(anchor: 'line'), class: 'js-line-chart'
  &bull;
  = link_to t(:bar_graph), chart_statistics_path(anchor: 'bar'), class: 'js-bar-chart'
