%h2= title t("parts.statistics.stats_by_months")

%div{role: 'tabpanel'}
  = render 'tabs'

.tab-content
  .tab-pane.active
    #stats
      - @stats.each do |months|
        - months.each do |month, monthly_data|
          - income_chart_data = {}
          - monthly_data[:income].each do |data|
            - income_chart_data[data.category.name] = data.amount

          - spending_chart_data = {}
          - monthly_data[:spending].each do |data|
            - spending_chart_data[data.category.name] = data.amount

          = render 'charts',
            title: l(month.to_date, format: :month_year),
            total_income: monthly_data[:income].pluck(:amount).inject(:+),
            total_spending: monthly_data[:spending].pluck(:amount).inject(:+),
            income_chart_data: income_chart_data,
            spending_chart_data: spending_chart_data
