/* todo: reset.css */

.main-menu { list-style: none; }
.main-menu li { display: inline; }


/* types */
.type_1 { background-color: #ebffeb; }
.type_2 { background-color: #ffebeb; }
.type_3 { background-color: #e1e1ff; }

/* aligns */
.t-right {
    text-align: right;
}

.t-left {
    text-align: left;
}

.clear {
	clear: both;
}

.width100 {
	width: 100%;
}

.width150px {
    width: 150px;
}

.width200px {
    width: 200px;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

/* notification */
#notify-container {
    color: #735005;
    font-size: 130%;
    font-weight: bold;
    left: 0;
    text-align: center;
    cursor: pointer;
    top: 0;
    width: 100%;
    z-index: 1300;
}

#notify-container div.alert {
    background-color: #F0A8A8;
    border-bottom: 1px solid #F0A8A8;
    padding: 7px 0;
}

#notify-container div.notice {
    background-color: #BADA55;
    border-bottom: 1px solid #CBEB66;
    padding: 7px 0;
}

#notify-container div.warning {
    background-color: #F4A83D;
    border-bottom: 1px solid #D6800C;
    padding: 7px 0;
}

#notify-container span.notify-close {
    cursor: pointer;
    display: block;
    float: right;
    margin-right: 20px;
    padding-left: 4px;
    padding-right: 4px;
    text-decoration: none;
}



html {
    color: #000;
    background: #FFF;
}

body, div, dl, dt, dd, ul, ol, li, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

li {
    list-style: none;
}

caption, th {
    text-align: left;
}



q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

input, textarea, select {
    *font-size: 100%;
}

legend {
    color: #000;
}


.hidden, .removed {
    display: none !important;
}

/* styles */

.centered, #header #header_content, #main, #footer div#footer_content {
    width: 960px;
    margin: 0 auto;
}

a, .notification a {
    text-decoration: none;
}

a:hover, .notification a:hover {
    text-decoration: underline;
}

.arrow-content, #page_content #nav_col ul.feed_filter li a.selected:after, .post_forms #checkin_form:before, .post_forms #checkin_form:after, .post_forms #note_form:before, .post_forms #note_form:after, .post_forms #link_form:before, .post_forms #link_form_create:before, .post_forms #link_form:after, .post_forms #link_form_create:after, .action_item:first-of-type:before, form.action_form:first-of-type:before, .feed_items .feed_item .reply_content .comment_item:first-of-type:before, .feed_items .feed_item .reply_content a.expand:first-of-type:before,
.item_replies > a:first-of-type:before, .action_item:first-of-type:after, form.action_form:first-of-type:after, .feed_items .feed_item .reply_content .comment_item:first-of-type:after, .feed_items .feed_item .reply_content a.expand:first-of-type:after,
.item_replies > a:first-of-type:after {
    content: "\00a0";
    display: block; /* reduce the damage in FF3.0 */
    position: absolute;
    width: 0;
    height: 0;
    bottom: auto;
    left: auto;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

body .button {
    display: inline-block;
    border: 0;
    position: relative;
    font-size: 1.1em;
    cursor: pointer;
    padding: 3px 12px;
    text-decoration: none;
    color: white;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

body .button:hover {
    text-decoration: none;
}

body .button:active {
    top: 1px;
    border-bottom: 0;
}

body .button.fixed {
    width: 6em;
    text-align: center;
}

body .button.wide {
    padding: 4px 18px;
}

body .button.tall {
    padding: 5px 12px;
}

body .button.large {
    padding: 8px 30px;
    font-size: 1.3em;
}

body .button.small {
    padding: 3px 10px 2px;
    font-size: 0.9em;
}

body .button.mini {
    height: 1.5em;
    padding: 3px 10px 0 10px;
    font-size: 0.7em;
}

body .button.teal {
    color: #434c56;
    font-weight: bold;
    text-shadow: none;
    background-color: #d4dde5; /* for non-css3 browsers */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4dde5', endColorstr='#c2cbd3')";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = "#d4dde5", endColorstr = "#c2cbd3"); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#d4dde5), to(#c2cbd3)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #d4dde5, #c2cbd3); /* for firefox 3.6+ */
}

body .button.teal:hover {
    background-color: #b4c4d2; /* for non-css3 browsers */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4c4d2', endColorstr='#a4b2be')";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = "#b4c4d2", endColorstr = "#a4b2be"); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#b4c4d2), to(#a4b2be)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #b4c4d2, #a4b2be); /* for firefox 3.6+ */
}

body .button.steel_blue {
    font-weight: bold;
    font-size: 0.9em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 #77838d;
    background-color: #b3c4d2; /* for non-css3 browsers */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3c4d2', endColorstr='#94a4b2')";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = "#b3c4d2", endColorstr = "#94a4b2"); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#b3c4d2), to(#94a4b2)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #b3c4d2, #94a4b2); /* for firefox 3.6+ */
}

body .button.steel_blue:hover {
    background-color: #93abbf; /* for non-css3 browsers */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#93abbf', endColorstr='#768b9d')";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = "#93abbf", endColorstr = "#768b9d"); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#93abbf), to(#768b9d)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #93abbf, #768b9d); /* for firefox 3.6+ */
}

body .button.blue {
    background-color: #92a4b3; /* for non-css3 browsers */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#92a4b3', endColorstr='#728393')";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = "#92a4b3", endColorstr = "#728393"); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#92a4b3), to(#728393)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #92a4b3, #728393); /* for firefox 3.6+ */
}

body .button.blue:hover {
    background-color: #a7bbcc; /* for non-css3 browsers */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#a7bbcc', endColorstr='#879bad')";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = "#a7bbcc", endColorstr = "#879bad"); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#a7bbcc), to(#879bad)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #a7bbcc, #879bad); /* for firefox 3.6+ */
}

body .button.green {
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 #768500;
    background-color: #bad200; /* for non-css3 browsers */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#bad200', endColorstr='#89b100')";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = "#bad200", endColorstr = "#89b100"); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#bad200), to(#89b100)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #bad200, #89b100); /* for firefox 3.6+ */
}

body .button.green:hover {
    background-color: #a6bc00; /* for non-css3 browsers */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6bc00', endColorstr='#7b9f00')";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = "#a6bc00", endColorstr = "#7b9f00"); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#a6bc00), to(#7b9f00)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #a6bc00, #7b9f00); /* for firefox 3.6+ */
}

body .button.orange {
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 #768500;
    background-color: #e4970f; /* for non-css3 browsers */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa911', endColorstr='#c8840d')";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = "#ffa911", endColorstr = "#c8840d"); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffa911), to(#c8840d)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #ffa911, #c8840d); /* for firefox 3.6+ */
}

body .button.orange:hover {
    background-color: #c8840d; /* for non-css3 browsers */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09e10', endColorstr='#b4770c')";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = "#f09e10", endColorstr = "#b4770c"); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#f09e10), to(#b4770c)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #f09e10, #b4770c); /* for firefox 3.6+ */
}


html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;

}

h2, h3, h4 {
    font-weight: bold;
    margin-bottom: 0.4em;
}

p.padded {
    padding-bottom: 0.8em;
}

p.padded.extra {
    padding-bottom: 1.2em;
}

a {
    color: #3d72ad;
    outline: none;
}

a:focus {
    outline: none;
}

strong, .strong {
    font-weight: bold;
}

div.rounded, p.rounded, strong.rounded {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 0.3em 0.5em;
}

.bolder {
    font-size: 1.1em;
    font-weight: bold;
}

.large {
    font-size: 1.2em;
}

.larger {
    font-size: 1.3em;
}

.x-large {
    font-size: 1.5em;
}

.xx-large {
    font-size: 2em;
}

form input, form textarea, form select {
    outline: none;
}

form input:focus, form textarea:focus, form select:focus {
    outline: none;
}

button:focus {
    outline: none;
}

input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner {
    border: 0px;
}

form .editable:hover {
    background-color: #FF9;
}

form.basic {
    color: #5F5F56;
    margin: auto;
    font-size: 1.1em;
}

form.basic h2 {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0.6em;
}

form.basic p.caption {
    margin-bottom: 0.8em;
}

form.basic p.field {
    padding-bottom: 0.8em;
}

form.basic p.field input {
    color: #5F5F56;
    border-color: #CCCCCC;
    width: 50%;
}

form.basic p.field label {
    padding: 0.3em 0;
    width: 15%;
    float: left;
    min-width: 6em;
}

form.basic p.submit {
    margin-left: 15%;
}

input, textarea, select {
    padding: 5px;
    margin: 5px;
    border: 1px solid #CCC;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

input.wide {
    width: 98%;
}

input.url-wide {
    width: 90%;
}


textarea {
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    overflow: auto;
}

hr {
    background-color: #d9d9d9;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


#container {
    min-width: 975px;
    background-color: white; /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), color-stop(12%, white)); /* for webkit browsers */
    background: -moz-linear-gradient(top, white, #f4f4f4, white 12%); /* for firefox 3.6+ */
}

#header {
    width: 100%;
    height: 48px;
    background: #111;
    background: -webkit-gradient(linear,left top,left bottom,from(#333),to(#111));
    background: -moz-linear-gradient(top,#333,#111);
    background: transparent	9;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333',endColorstr='#111');
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

#header #header_content {
    z-index: 1200;
    position: relative;
    overflow: hidden;
    padding: 0.5em;
    overflow: visible;
}

#header #header_content > div, #header #header_content > p, #header #header_content > ul, #header #header_content > a, #header #header_content > form, #header #header_content > input, #header #header_content > strong {
    float: left;
    display: block;
}

#header #header_content > ul {
    overflow: hidden;
}

#header #header_content > ul li {
    float: left;
    display: block;
    margin-right: 1.2em;
}

#header #header_content > ul li.selected a {
    color: white;
}

#header #header_content > ul li:last-child {
    margin-right: 0;
}

#header #header_content > div, #header #header_content > form, #header #header_content > ul, #header #header_content > a {
    margin-right: 2em;
}

#header #header_content form {
    overflow: visible;
}

#header #header_content ul#account_box {
    padding-top: 10px;
    float: right;
    margin-right: 0;
}

#header #header_content ul#account_box li a.selected {
    color: white;
}

#header #header_content ul#account_box.signup {
    margin-right: 1.4em;
}

#header #header_content ul#account_box.signup li a.signin_link {
    display: block;
    padding: 0.3em 0.6em;
}

#header #header_content ul#account_box.signup li a.signin_link.enabled {
    color: white;
    background-color: #696F78;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
}

#header #header_content ul#account_box.signup li a.signin_box {
    display: block;
    padding: 0.3em 0.6em;
}

#header #header_content ul#account_box.signup li a.signin_box.enabled {
    color: white;
    background-color: #696F78;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
}

#header #header_content ul#account_box_new {
    padding: 0.5em 0 0.1em 0;
    float: right;
    margin-right: 0em;
    width: 7.2em;
}

#header #header_content ul#account_box_new li a.selected {
    color: white;
}

#header #header_content ul#account_box_new.signup li a.signin_link {
    display: block;
    padding: 5px 2em;
}

#header #header_content ul#account_box_new.signup li a.signin_link.enabled {
    color: white;
    background-color: #696F78;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
}

#header #header_content ul#account_box_new.signup li a.signin_box {
    display: block;
    padding: 5px 2em;
}

#header #header_content ul#account_box_new.signup li a.signin_box.enabled {
    color: white;
    background-color: #696F78;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
}


#header #header_content a {
    text-decoration: none;
    color: #adb7ca;
    font-size: 1.1em;
    margin-top: 8px;
}

#header #header_content a:hover {
    color: white;
}

#header #header_content a.button {
    color: white;
}

#site_logo span {
    font-size: 2em;
    font-weight: bold;
    color: white;
}


#main {
    margin-top: 2em;
}

#main div.blocked, #main form.blocked {
    opacity: 0.5;
}

#footer {
    border-top: 1px solid #e5e5e5;
    padding-top: 1em;
    margin: 1.5em 0;
}

#footer div#footer_content {
    overflow: hidden;
}

#footer a {
    color: #434c56;
    font-weight: bold;
    font-size: 1em;
}

#footer ul#nav_bottom {
    overflow: hidden;
}

#footer ul#nav_bottom li {
    float: left;
    display: block;
    margin-right: 1.2em;
}

#footer ul#nav_bottom li:last-child {
    margin-right: 0;
}

#footer ul#nav_bottom li {
    width: 11em;
}

#footer ul#nav_bottom li p {
    color: #878787;
    font-size: 1em;
}

#footer p.copyright {
    float: left;
    margin-right: 1em;
}

#footer ul.site_links {
    float: left;
    overflow: hidden;
}

#footer ul.site_links li {
    float: left;
    display: block;
    margin-right: 1.2em;
}

#footer ul.site_links li:last-child {
    margin-right: 0;
}

#page_header {
    margin-bottom: 20px;
}

#page_content {
    overflow: hidden;
}

.list-table {
    width: 100%;
}

.list-table thead tr {
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 #768500;
    background-color: #e4970f; /* for non-css3 browsers */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa911', endColorstr='#c8840d')";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = "#ffa911", endColorstr = "#c8840d"); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffa911), to(#c8840d)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #ffa911, #c8840d); /* for firefox 3.6+ */
}

.list-table tbody tr {
    border-top: 1px solid #E5E5E5;
}

.list-table tbody tr:hover {
    background: #ddd;
}

.list-table tbody tr.total:hover {
    background: #fff;
}

.list-table td {
    margin: 0 2px 0 2px;
}

.list-table .comment { color: #888; }
.list-table .numbers {
    text-align: right;
    white-space: nowrap;
    padding-right: 5px;
}

.list-table .small {
    width: 1%;
    white-space: nowrap;
    text-align: center;
}

.list-table .medium {
    width: 2%;
    white-space: nowrap;
    padding-right: 10px;
}

.list-table .main-info {
    padding-left: 5px;
}

.list-table th {
    font-weight: bold;
    text-align: center;
}

.list-table thead > tr {
    height: 25px;
}

#child_navigation {
    margin: 10px;
}

.progressbar {
    display: inline-block;
    width: 100%;
    background: #E9E9E9;
    height: 12px;
    font-size: 10px;
    border-radius: 5px;
}

.progressbar > .active-income {
    /*background: #39F;*/
    background: #33dd33;
    height: 12px;
    border-radius: 5px;
}

.progressbar > .active-spending {
    background: #dd3333;
    height: 12px;
    border-radius: 5px;
}

fieldset.statistics {
    margin-top: 10px;
    margin-bottom: 30px;
}

fieldset.statistics legend {
    margin-bottom: 5px;
    font-weight: bold;
}

fieldset.statistics tr.total {
    vertical-align: top;
    font-weight: bold;
    height: 30px;
}