%h2= title t('parts.users.profile')

= form_for :user do |f|
  .form-inputs
    .form-group
      .col-lg-12
        = f.label :email
        = f.text_field :email, class: 'form-control', value: current_user.email
