.row
  .col-xs-12
    %h2
      = title title_content
      .pull-right.hidden-xs
        = link_to add_link_title, add_link_url, class: 'btn btn-success'
  .col-xs-12.col-sm-6.hidden-sm.hidden-md.hidden-lg
    = link_to add_link_title, add_link_url, class: 'btn btn-success btn-block'

.clearfix.spacer
