%footer.welcome-footer
  %p.footer-copyright= copyright
  .footer-links
    = link_to t("parts.auth.sign_up"), new_user_registration_path
    = link_to t("parts.auth.sign_in"), new_user_session_path
    = link_to "Cookie Policy", cookiepolicy_path
