
body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.row {
  margin-left: 0;
}

.spacer { margin-bottom: 10px; }
.clear { clear: both; }
.left { float: left; }
.right { float: right; }

ul.site-links {
  list-style: none;
  li {
    display: inline;
    padding: 0 10px 0 10px;
    border-left: solid #bbb 1px;
  }

  li.first {
    border-left: none;
  }
}

.number, .actions {
  text-align: right !important;
}

.nav .active a {
  border-bottom: 4px solid #47a447;
}

.edit-profile {
  margin-top: 10px;
  float: right;
}

.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
  top: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
