fieldset.statistics {
  margin-top: 10px;
  margin-bottom: 30px;
}

fieldset.statistics legend {
  margin-bottom: 5px;
  font-weight: bold;
}

fieldset.statistics tr.total {
  vertical-align: top;
  font-weight: bold;
  height: 30px;
}

.preloader {
  margin: auto;
  width: 33px;
}

.graph-menu {
  text-align: center;
}
