.comment {
  color: #888;
}

.best_in_place {
  textarea {
    width: 100%;
  }
}

tr.due-recurring-payments {
  border-bottom: 2px dotted #eee;
  background-color: rgba(92, 184, 92, .1);

  td {
    span {
      filter: alpha(opacity=60);
      opacity: 0.6;
    }
  }
}
