.comment {
  color: #888;
}

.best_in_place {
  textarea {
    width: 100%;
  }
}

#s2id_transaction_category_id,
#s2id_transaction_account_id,
#s2id_cash_flow_from_account_id,
#s2id_cash_flow_to_account_id {
  width: 220px;
}
