.transaction-form
  .cash-flows-header
    %h2= title t('parts.transactions.new_transaction')
    = link_to "← #{t('common.back')}", transactions_path, class: "transaction-form-back"
  = render 'form', transaction: @transaction, categories: @categories, accounts: @accounts
