- if user_signed_in?
  .panel.panel-default
    .panel-body
      - current_user.accounts.each do |account|
        .col-sm-3
          = succeed ":" do
            = account.name
          .pull-right
            %strong= account.decorate.amount
        .col-sm-1
      .clearfix

    .panel-footer
      - TotalAmount.of(current_user).each do |unit, amount|
        .col-sm-3
          .pull-right
            %strong= get_number_to_currency amount, unit
        .col-sm-1
      .clearfix
