- if user_signed_in? && current_user.accounts.any?
  .accounts-summary
    .row
      - current_user.accounts.active.show_in_summary.each do |account|
        .col-xs-12.col-sm-6.col-lg-3
          .account-card
            .account-header
              %h4.account-name= account.name
            .account-amount
              %span.amount-value= account.decorate.amount
    
    .row.total-summary
      - TotalAmount.of(current_user).each do |unit, amount|
        .col-xs-12.col-sm-6.col-lg-3
          .total-card
            .total-header
              %h4.total-label Total #{unit}
            .total-amount
              %span.amount-value= get_number_to_currency(amount, unit)
